* {
  margin:0;
  padding:0;
  /* border: 1px solid red; */
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
}

h1 {
  padding-bottom: 20px;
}

p {
  padding: 15px 0;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-height: 100px;
}

.navbar {
  position: fixed;
  width: 100%;
  max-height: 80px;
  background-color: #fff;
}

.main-container {
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.hero-image {
  background-image: url("../image/programmer.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 99.9%;
  background-attachment: fixed;
  min-height: 80vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-image-about {
  background-image: url("../image/destination.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 80vh;
  min-width: 100%;
}

.index-title {
  font-size: 1.5rem;
}

.title-box {
  background-color: rgb(0, 255, 255, 0.5);
  border-radius: 5px;
  padding: 20px;
}

.line-break-bottom {
  border: 1px solid grey ;
  width: 30%;
  margin: auto;
}
.line-break-top {
  border: 1px solid grey ;
  width: 90%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 40px;
}

.funscroll {
  height: 100000px;
}

.back-top {
  color: grey;
}


.byside {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 5%;
}

.captioned {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 5% 5%;
}


.imgdesc {
  max-width: 200px;
  max-height: auto;
}


@media only screen and (max-width: 1200px) {
  nav {
    max-height: 80px;
    font-size: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .byside {
    flex-direction: column;
  }

  .hero-image {
    background-attachment:scroll;
  }

  .hero-image-about {
  
    background-attachment: scroll;
 
  }

  nav {
    max-height: 80px;
    font-size: 10px;
  
  }
}


@media only screen and (max-width: 320px) {
  .byside {
    flex-direction: column;
  }

  .hero-image {
    background-attachment:scroll;
  }

  .hero-image-about {
  
    background-attachment: scroll;
 
  }

  nav {
    max-height: 80px;
    font-size: 10px;
  
  }
}

.dropdown {
  display: inline-block;
  height:100%;
}

.li {
  height: 100%;
  margin: 0;
  width: auto;
}

.dropdown-sprint{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-sprint{
  display: block;
}

a {
  text-decoration: none;
  color: black;
}


.hero-image {
  width: 400px;
  height: auto;
}

ul {
  margin:0;
  display: flex;
  flex-direction: row;
}

li {
  height:100%;
  list-style: none;
  margin: 0 10px 0 10px;
  padding: 10px 10px;
}

@keyframes button-hover {
  0%    { opacity: 0; }
  20%   { opacity: 0.2; }
  80%   { opacity: 0.6; }
  100%  { opacity: 1; }
}

li:hover {
  animation: button-hover 0.5s;
  background-color: aqua;
  color:rgb(15, 15, 15)
}




code {
  display: block;
  background-color: #f7f7f7;
  padding: 15px;
  position: relative;
  white-space: pre-line;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  margin: 10px;
  border-radius: 5px;
}

.footer {
  color: grey;
  text-align: center;
}

